---
import CVcomp from '../components/CVcomp.astro'
import CV from '../components/books.md';
---

<CVcomp title="Mohit Tawarmalani: Book" description="Mohit Tawarmalani: Book" isHome={false}  isResume={false} isBook={true} isPubs={false} isConf={false} isHonors={false} isContact={false}> 
<div class="myinclude">
<CV />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
 @use "../styles/cvhide.scss";

 .myinclude {
    :global(#books) {
      display: block;
    }
 }
</style>
