---
import CVcomp from '../components/CVcomp.astro'
import CV from '../components/conferences.md';
---

<CVcomp title="Mohit Tawarmalani's CV" description="Mohit Tawarmalani: Refereed Conference Proceedings" isHome={false}  isResume={false} isBook={false} isPubs={false} isConf={true} isHonors={false} isContact={false}> 
<div class="myinclude">
<CV />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
 @use "../styles/cvhide.scss";

 .myinclude {
    :global(#refereed-conference-proceedings) {
      display: block;
    }
 }
</style>
