---
import CVcomp from '../components/CVcomp.astro'
import CV from '../components/contact.md';
---

<CVcomp title="Mohit Tawarmalani: Contact Information" description="Mohit Tawarmalani: Contact Information" isHome={false}  isResume={false} isBook={false} isPubs={false} isConf={false} isHonors={false} isContact={true}> 
<div class="myinclude">
<CV />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
 @use "../styles/cvhide.scss";

 .myinclude {
    :global(#contact-information) {
      display: inline;
    }
    :global(span.myemail)::before {
       content: "mtawarma";
    }
 }
</style>
