---
import CVcomp from '../components/CVcomp.astro'
import CV from '../components/cv.md';
---

<CVcomp title="Mohit Tawarmalani's CV" description="Mohit Tawarmalani Resume Including Education Publications and Honors" isHome={false}  isResume={true} isBook={false} isPubs={false} isConf={false} isHonors={false} isContact={false}> 
<div class="myinclude">
<CV />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
</style>
