---
import CVcomp from '../components/CVcomp.astro'
import CV from '../components/cv.md';
---

<CVcomp title="Mohit Tawarmalani: Resume" description="Mohit Tawarmalani: Resume" isHome={false}  isResume={true} isBook={false} isPubs={false} isConf={false} isHonors={false} isContact={false}> 
<div class="myinclude">
<CV />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
 .myinclude {
    :global(#contact-information) {
      display: block;
    }
    :global(span.myemail)::before {
       content: "mtawarma";
    }
 }

</style>
