---
import "../styles/fonts.scss";

interface Props {
	title: string;
        description: string;
        pagetype: string;
}

const {title, description, pagetype} = Astro.props;

const base:string = String(import.meta.env.BASE_URL);
let isHome:boolean = false;
let isResume:boolean = false;
let isAppointment:boolean = false;
let isBook:boolean = false;
let isPubs:boolean = false;
let isConf:boolean = false;
let isHonors:boolean = false;
let isTeaching:boolean = false;
let isContact:boolean = false;

switch (pagetype) {
   case "home": isHome = true; break;
   case "resume": isResume = true; break;
   case "appointments": isAppointment = true; break;
   case "books": isBook = true; break;
   case "publications": isPubs = true; break;
   case "conferences": isConf = true; break;
   case "honors": isHonors = true; break;
   case "teaching": isTeaching = true; break;
   case "contact": isContact = true; break;
   default: break;
}
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content={description} />
	<meta name="viewport" content="width=device-width" />
	<title>{title}</title>
        <link rel="shortcut icon" href="#">
        {(isHome || isHonors || isContact) ? undefined : <link rel="preload" href={`${base}fonts/o-0ZIpQlx3QUlC5A4PNr4C5OaxRsfNNlKbCePevtuXOmHS91iw.woff2`} crossorigin="anonymous" as="font">}
        <link rel="preload" href={`${base}fonts/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2`} crossorigin="anonymous" as="font"> 
        <link rel="sitemap" href="/sitemap-index.xml" />
</head>

<body>
  <div class="drawer lg:drawer-open" data-page={isHome ? "home" : "cv"} >
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
          <slot />
    </div>
    <div class="flex-none lg:hidden justify-left">
         <label for='my-drawer-2' class="btn btn-square drawer-button btn-ghost swap z-10">
<svg class="swap-off [:checked~*_&]:!opacity-0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>        
      <!-- close icon -->
      <svg class="swap-on [:checked~*_&]:!opacity-100" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg> 
        </label>
    </div>
    <div class="drawer-side">
       <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
       <div class="min-h-full">
         <div class="h-10 w-56 bg-base-200">
         </div>
       <div class="menulist border-r-2 border-black/100 bg-base-200">
         <ul class="menu text-2xl bg-base-200 w-56 p-4 [&_li>*]:rounded-none">
           <li><a class:list={["menuitem pagehome", {"navlink": !isHome}, {"myactive": isHome}]} href={base}>Home</a></li>
           <li><a class:list={["menuitem pageresume", {"navlink": !isResume}, {"myactive": isResume}]} href={`${base}cv/`}>Resume</a></li>
           <li><a class:list={["menuitem pageresume", {"navlink": !isAppointment}, {"myactive": isAppointment}]} href={`${base}appointments/`}>Appointments</a></li>
           <li><a class:list={["menuitem pagebook", {"navlink": !isBook}, {"myactive": isBook}]} href={`${base}books/`}>Book</a></li>
           <li><a class:list={["menuitem pagepub", {"navlink": !isPubs}, {"myactive": isPubs}]} href={`${base}journals/`}>Publications</a></li>
           <li><a class:list={["menuitem pageconf", {"navlink": !isConf}, {"myactive": isConf}]} href={`${base}conferences/`}>Conferences</a></li>
           <li><a class:list={["menuitem pagehonor", {"navlink": !isHonors}, {"myactive": isHonors}]} href={`${base}honors/`}>Honors</a></li> 
           <li><a class:list={["menuitem pagehonor", {"navlink": !isTeaching}, {"myactive": isTeaching}]} href={`${base}teaching`}>Teaching</a></li> 
           <li><a class:list={["menuitem pagehonor", {"navlink": !isContact}, {"myactive": isContact}]} href={`${base}contact`}>Contact</a></li> 
         </ul>
       </div>
       <div class="h-10 w-56 bg-base-200">
       </div>
    </div>
  </div>

</body>
</html>
<style is:global>
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Noto Sans", system-ui, sans-serif;
  }
}
        a.menuitem.navlink:hover, a.menuitem.navlink:active {
             @apply text-primary;
             @apply bg-base-200;
        }
        a.menuitem.myactive, a.menuitem.myactive:hover {
             @apply bg-gray-600;
             @apply text-white;
             /*cursor: default;*/
        }
        .menulist {
             min-height: calc(100vh - 5rem);
        }
</style>
<!--
               <svg class="swap-off" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
               </svg>
-->
